<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>
</head>
<body class="body">
  <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
    <div class="w-row">
      <div class="w-clearfix w-col w-col-3">
        <div class="div-block">Dashboard</div>
      </div>
      <div class="w-col w-col-6"></div>
      <div class="w-col w-col-3">
        <div data-delay="0" class="w-dropdown">
          <div class="w-dropdown-toggle">
            <div class="w-icon-dropdown-toggle"></div>
            <div>Dropdown</div>
          </div>
          <nav class="w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
        </div>
      </div>
    </div>
  </div>
  <div class="div-block-2"></div>
  <div class="div-block-3"></div>
  <div class="w-row">
    <div class="column-5 w-col w-col-3">
      <div class="div-block-4 w-clearfix"><a href="#" class="link-block w-inline-block"></a><a href="#" class="link-block-3 w-inline-block"></a><a href="#" class="link-block-5 w-inline-block"></a>
        <div></div>
        <div>
          <a href="index.html" class="link-block-11 w-inline-block w--current">
            <div class="w-row">
              <div class="w-col w-col-3"></div>
              <div class="w-col w-col-9">
                <div>
                  <div class="text-block"> Form </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div>

<body>
  {{{body}}}
</body>

</html>
