<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
 
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-white navbar-white">
<!-- Navbar text-->
  <span class="navbar-text">
    Foodie
  </span>
</nav>
<div class="sidenav">
  <a href="#about">Home</a>
  <a href="#services">Shoping List</a>
  <a href="#clients">Food History</a>
  <a href="#contact">Expirating Soon</a>
</div>
    {{{body}}}
</body>

</html>
