.list-group-item {
  line-height: 2.5;
}
body{
  background-color: whitesmoke
}
.navbar{
  padding: 10px;
  box-shadow: 5px 10px 8px 10px #888888;
}
.navbar-text{
  font: bold;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  font-size: 20px;
}