.list-group-item {
  line-height: 2.5;
}
body{
  background-color: whitesmoke;
}
.navbar{
  padding: 10px;
  box-shadow: 5px 8px 8px 8px #888888;
}
.navbar-text{
  font: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  font-size: 14px;
}